@import '~styles/variables';

.chat-input {
    position: relative;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ant-input {
        margin: 0 20px;
        padding: 20px;
        width: 85%;
    }

    .anticon {
        opacity: .4;
        font-size: 25px;
        z-index: 1;
        cursor: pointer;
        transition: color .3s ease-in, opacity .3s ease-in;

        &:hover {
            color: $purple;
            opacity: 1;
        }
    }

    &__actions {
        width: 9.5%;
        display: flex;
        justify-content: space-between;
    }
}