@import '~styles/variables';

.chat-input {
    & > div {
        position: relative;
        padding: 10px 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;

    }

    .ant {
        &-input {
            margin: 0 20px;
            width: 85%;
        }

        &-btn {
            opacity: .4;
            font-size: 25px;
            transition: color .3s ease-in, opacity .3s ease-in, transform .3s ease-in;

            &:hover {
                color: $cyan;
                opacity: 1;
            }
        }

        &-upload-list-item {
            &-thumbnail {
                object-fit: cover;
            }

            &-info span {
                height: 100%;
            }
        }
    }

    &__emoji-picker-wrapper {
        position: absolute;
        bottom: 65px;
        left: 0;
        height: 440px;
        overflow: hidden;
    }

    &__send-dick {
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    &__emoji-picker {
        height: 100%;
        display: none;
        position: absolute;
        bottom: 430px;
        left: 0;

        &--visible {
            display: block;
        }

        .emoji-mart {
            position: absolute;

            &::after,
            &::before {
                position: absolute;
                content: '';
                display: block;
                width: 0;
                height: 0;
                left: 7.5%;
            }

            &::after {
                border-top: 15px solid #fff;
                border-right: 15px solid transparent;
                border-left: 15px solid transparent;
                top: 99.8%;
            }

            &::before {
                top: 100%;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-top: 15px solid #c1c1c1;
            }
        }
    }

    &-attachments {
        padding: 10px 5px;
        background-color: #fff;
        border-radius: 3px;
        transition: transform .3s;
        transform: scale(1);
        transform-origin: bottom left;
    }

    &__actions {
        width: 9.5%;
        display: flex;
        justify-content: space-between;

        &-upload-photo {
            &:hover {
                .ant-btn {
                    color: $cyan;
                    opacity: 1;
                }
            }
        }
    }
}