@import '~styles/variables';

#root {
    overflow-x: scroll;
    overflow-y: hidden;
}

.home {
    height: 100%;
}

.chat {
    display: flex;
    height: 100%;
    background-color: #fff;
    width: 1140px;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.04204);

    @media screen
        and (max-device-width: 480px) {
        transition: transform .3s ease-in-out;
        width: 200vw;
    }

    &__sidebar {
        width: 356px;
        padding: 15px;

        @media screen
        and (max-device-width: 480px) {
            width: 50%;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            font-size: 20px;

            .anticon-team {
                margin-right: 10px;
            }
        }

        &-search {
            margin: 18px 0;
        }

        &-dialogs {
            height: 100%;
        }

        .ant-select-dropdown-menu-item .avatar{
            width: 30px;
            height: 30px;
            font-size: 14px;
        }

        .anticon {
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                opacity: .5;
            }
        }
    }

    &__dialog {
        width: 76%;
        position: relative;
        border-right: 15px solid white;

        @media screen
            and (max-device-width: 480px) {
            width: 50%;
            padding-left: 15px;
        }

        &-header {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 2px;
            position: relative;
            height: 60px;

            @media screen
                and (max-device-width: 480px) {
                display: flex;
                padding: 10px 0;
                justify-content: space-between;
                align-items: center;
            }

            .ant-btn {
              display: none;

              @media screen and (max-device-width: 480px) {
                display: block;
              }
            }
        }

        &-header-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-fullname {
            margin-bottom: 5px;
            font-weight: 900;
            font-size: 20px;
        }

        &-messages {
            border-radius: 5px;
            background-color: #f7f7f7;
            overflow: hidden;
            transition: height .3s;
        }

        .ant-empty {
            position: relative;
            top: 25vh;
        }
    }

    &__account {
        width: 44px;
        height: 44px;
        position: absolute;
        right: 15px;
        top: 8px;
        cursor: pointer;

        @media screen and (max-device-width: 480px) {
          position: relative;
          top: 0;
          right: 0;
        }
    }
}