@import '~styles/variables';

.status {
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, .25);
        margin-right: 5px;
    }

    &--online {
        &::before {
            background-color: $green;
        }
    }
}